
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title Search</title>
    <script src="~/js/Site.js"></script>
</head>
<body>
    <basefont face ="verdana, garamond, helvetica, sans-serif" size="2" color="0xff00000">
    <h1>Title Search</h1>
    <div style="margin: auto">
        <input name="searchTerms" type="text" />
        <button onclick="doSearch()">Search!</button>
    </div>
</body>
</html>
